---
title: "Feature Comparison"
css_class: compare

performance:
  single_threaded:
    fast_gettext: [1, 'st', 0.119087, "mo"]
    nii:          [2, 'nd', 0.180050, "Fluent"]
    gettext:      [3, 'rd', 0.424194, "mo"]
    mini_i18n:    [4, 'th', 0.430528, "YAML"]
    r18n:         [5, 'th', 1.712439, "YAML"]
    i18n:         [6, 'th', 3.812069, "YAML, with memoization"]
  multi_threaded:
    nii:          [1, 'st', 1.864183, "Fluent"]
    fast_gettext: [2, 'nd', 2.358094, "mo"]
    mini_i18n:    [3, 'rd', 2.880339, "YAML"]
    gettext:      [4, 'th', 3.753346, "mo"]
    r18n:         [5, 'th', 3.818770, "YAML"]
    i18n:         [6, 'th', 7.043701, "YAML, with memoization"]
  memory:
    nii:          [1, 'st', 6]
    fast_gettext: [2, 'nd', 9]
    mini_i18n:    [3, 'rd', 13]
    i18n:         [4, 'th', 37]
    r18n:         [5, 'th', 47]
    gettext:      [6, 'th', 53]
---

<div class="table-wrapper">
  <table class="comparison">
    <thead>
      <tr>
        <th></th>
        <th>Nii</th>
        <th>Ruby I18n</th>
        <th>Mini I18n</th>
        <th>R18n</th>
        <th>Ruby gettext</th>
        <th>FastGettext</th>
        <th>Twitter CLDR</th>
      </tr>
    </thead>
    <tbody>
      <tr class="in-table-headline">
        <th colspan="8"><span>Feature Overview</span></th>
      </tr>

      <tr>
        <td>
          <span><%= link_to 'Message Translation', '/compare/messages' %></span>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- Ruby I18n -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- Mini I18n -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- R18n -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- Ruby gettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- FastGettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span><%= link_to 'Pluralization', '/compare/grammar' %></span><br>
          <small>CLDR Rules (UTS 35)</small>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          compilant
        </td>
        <!-- Ruby I18n -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
        <!-- Mini I18n -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
        <!-- R18n -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
        <!-- Ruby gettext -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
        <!-- FastGettext -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="yes">
          <i class="fas fa-check"></i>
          mostly compilant
        </td>
      </tr>

      <tr class="in-table-headline">
        <th colspan="8"><span>Implementation Details</span></th>
      </tr>

      <tr>
        <td>
          <span>Extension API</span> and
          <span>Custom Backend</span>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- Ruby I18n -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>limited</span>
          <div class="info">
            Provides an API for replacing the backend globally, 
            but it does not have a well defined interface,
            calls instance_eval and private methods (undocumented), 
            uses mixins instead of configuration.
          </div>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>limited</span>
          <div class="info">
            R18n allows you to replace the translation loader globally.
          </div>
        </td>
        <!-- Ruby gettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- FastGettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>built-in</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
      </tr>

      <tr>
        <td>
          Object Space Pollution
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          no pollution
        </td>
        <!-- Ruby I18n -->
        <td class="yes with-info">
          <i class="fas fa-check"></i>
          <span>no more pollution</span>
          <div class="info">
            Old versions extended Hash with internal methods, but I18n now uses Refinements to avoid this.
          </div>
        </td>
        <!-- Mini I18n -->
        <td class="yes">
          <i class="fas fa-check"></i>
          no pollution
        </td>
        <!-- R18n -->
        <td class="no with-info">
          <i class="fas fa-times-circle"></i>
          <span>undocumented</span>
          <div class="info">
            R18n adds tags to YAML globally (and lazily), not just for its own files.
          </div>
        </td>
        <!-- Ruby gettext -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
        <!-- FastGettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          no pollution
        </td>
        <!-- Twitter CLDR -->
        <td class="partial">
          <i class="fas fa-slash"></i>
          <span>limited</span>
        </td>
      </tr>

      <tr class="in-table-headline">
        <th colspan="8"><span>General Information</span></th>
      </tr>

      <tr>
        <td><span>First Release</span></td>
        <!-- Nii -->
        <td>–</td>
        <!-- Ruby I18n -->
        <td>2008-10-25</td>
        <!-- Mini I18n -->
        <td>2018-07-18</td>
        <!-- R18n -->
        <td>2008-09-30</td>
        <!-- Ruby gettext -->
        <td>2001-12-24</td>
        <!-- FastGettext -->
        <td>2009-02-19</td>
        <!-- Twitter CLDR -->
        <td>2011-11-29</td>
      </tr>

      <tr>
        <td>
          Concurrency Model
        </td>
        <!-- Nii -->
        <td>Any / All</td>
        <!-- Ruby I18n -->
        <td>Threads</td>
        <!-- Mini I18n -->
        <td>Threads</td>
        <!-- R18n -->
        <td>Threads</td>
        <!-- Ruby gettext -->
        <td>Threads</td>
        <!-- FastGettext -->
        <td>Threads</td>
        <!-- Twitter CLDR -->
        <td>Any / All</td>
      </tr>
      

      <tr>
        <td><span>Locale Repository</span></td>
        <!-- Nii -->
        <td>CLDR (modern, <span>built-in</span>) / <span>CLDR (full)</span></td>
        <!-- Ruby I18n -->
        <td>None / Custom / CLDR</td>
        <!-- Mini I18n -->
        <td>None</td>
        <!-- R18n -->
        <td><span>Custom (built-in)</span></td>
        <!-- Ruby gettext -->
        <td><span>Custom (built-in)</span></td>
        <!-- FastGettext -->
        <td>None</td>
        <!-- Twitter CLDR -->
        <td>CLDR (custom, <span>built-in</span>)</td>
      </tr>

      <tr>
        <td><span>Included Locales</span></td>
        <!-- Nii -->
        <td>700 / 1530</td>
        <!-- Ruby I18n -->
        <td>0 / 115 / 766</td>
        <!-- Mini I18n -->
        <td>0</td>
        <!-- R18n -->
        <td>37</td>
        <!-- Ruby gettext -->
        <td>26</td>
        <!-- FastGettext -->
        <td>0</td>
        <!-- Twitter CLDR -->
        <td>96</td>
      </tr>

      <tr>
        <td><span>File Size</span></td>
        <!-- Nii -->
        <td><span>9</span> / <span>16</span> MB</td>
        <!-- Ruby I18n -->
        <td><span>0.3</span> / <span>2</span> / <span>300</span> MB</td>
        <!-- Mini I18n -->
        <td><span>0.05 MB</span></td>
        <!-- R18n -->
        <td><span>0.4 MB</span></td>
        <!-- Ruby gettext -->
        <td><span>6 MB</span></td>
        <!-- FastGettext -->
        <td><span>0.2 MB</span></td>
        <!-- Twitter CLDR -->
        <td><span>130 MB</span></td>
      </tr>

      <tr class="in-table-headline">
        <th colspan="8"><span>Performance</span></th>
      </tr>

      <% { single_threaded: 0, multi_threaded: 1 }.each do |mode, precision| %>
        <tr>
          <td>
            <span><%= mode.to_s.split('_').map(&:capitalize).join('-') %> Speed</span><br>
            <small>higher is better, vs i18n</small>
          </td>

          <% [:nii, :i18n, :mini_i18n, :r18n, :gettext, :fast_gettext].each do |lib| %>
            <td class="with-info place-<%= current_page.data.dig(:performance, mode, lib, 0) %>">
              <span>
                <%= (current_page.data.dig(:performance, mode, :i18n, 2) / current_page.data.dig(:performance, mode, lib, 2)).round(precision) %>⨉
              </span>
              – <%= current_page.data.dig(:performance, mode, lib, 0) %><sup><%= current_page.data.dig(:performance, mode, lib, 1) %></sup>
              <div class="info">
                <%= current_page.data.dig(:performance, mode, lib, 2).round(2) %>s / 100K
                (<%= current_page.data.dig(:performance, mode, lib, 3) %>)
              </div>
            </td>
          <% end %>
          <!-- Twitter CLDR -->
          <td class="does-not-apply">–</td>
        </tr>
      <% end %>

      <tr>
        <td>
          <span>Memory Use</span><br>
          <small>lower is better, vs i18n</small>
        </td>
        <% [:nii, :i18n, :mini_i18n, :r18n, :gettext, :fast_gettext].each do |lib| %>
          <td class="with-info place-<%= current_page.data.dig(:performance, :memory, lib, 0) %>">
            <span>
              <%= (current_page.data.dig(:performance, :memory, lib, 2).to_f / current_page.data.dig(:performance, :memory, :i18n, 2) ).round(2) %>⨉
            </span>
            – <%= current_page.data.dig(:performance, :memory, lib, 0) %><sup><%= current_page.data.dig(:performance, :memory, lib, 1) %></sup>
            <div class="info">
              <%= current_page.data.dig(:performance, :memory, lib, 2) %> allocation / render with interpolation
            </div>
          </td>
        <% end %>
        <!-- Twitter CLDR -->
          <td class="does-not-apply">–</td>
      </tr>

      <tr class="in-table-headline">
        <th colspan="8"><span>Supported Standards</span></th>
      </tr>

      <tr>
        <td>
          <span><a href="https://tools.ietf.org/html/rfc5646">RFC 5646</a></span><br>
          <small>BCP 47 Language Tags</small>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>RFC 5646</span>
        </td>
        <!-- Ruby I18n -->
        <td class="yes with-info">
          <i class="fas fa-check"></i>
          <span>RFC 4646</span>
          <div class="info">All available tags need to be explicitely defined, subtags cannot be inferred.</div>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not compliant</span>
        </td>
        <!-- Ruby gettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>RFC 4646 / RFC 3066</span>
        </td>
        <!-- FastGettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not compliant</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span>
            <a href="https://tools.ietf.org/html/rfc6067">RFC 6067</a>
            /
            <a href="https://unicode.org/reports/tr35/#Locale_Extension_Key_and_Type_Data">UTS 35-3.6</a>
          </span><br>
          <small>BCP 47 Extension U</small>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
        <!-- Ruby I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Ruby gettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- FastGettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span><a href="https://pubs.opengroup.org/onlinepubs/9699919799/">IEEE Std 1003.1</a></span><br>
          <small>POSIX Locale Identifiers</span>
        </td>
        <!-- Nii -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>partial support</span>
          <div class="info">codeset and modifiers are ignored</div>
        </td>
        <!-- Ruby I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>partial support</span>
          <div class="info">codeset and modifiers are ignored</div>
        </td>
        <!-- Ruby gettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
        <!-- FastGettext -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>partial support</span>
          <div class="info">codeset and modifiers are ignored</div>
        </td>
        <!-- Twitter CLDR -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span><a href="https://unicode.org/reports/tr35/#Locale_Inheritance">UTS 35-4</a></span><br>
          <small>Locale Inheritance</small>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
        <!-- Ruby I18n -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>not compliant</span>
          <div class="info">Implements RFC 4646/4647 truncation instead (de-Latn-DE will not inherit from de-DE).</div>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="partial with-info">
          <i class="fas fa-slash"></i>
          <span>not compliant</span>
          <div class="info">Everything after the second subtag is ignored.</div>
        </td>
        <!-- Ruby gettext -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
        <!-- FastGettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span><a href="https://unicode.org/reports/tr9/">UAX 9</a></span><br>
          <small>Bidirectional Text</small>
        </td>
        <!-- Nii -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
        <!-- Ruby I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Ruby gettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- FastGettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span><a href="https://unicode.org/reports/tr10/">UTS 10</a></span><br>
          <small>Unicode Collation</small>
        </td>
        <!-- Nii -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Ruby I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Ruby gettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- FastGettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
      </tr>

      <tr>
        <td>
          <span><a href="https://unicode.org/reports/tr29/">UAX 29</a></span><br>
          <small>Text Segmentation</small>
        </td>
        <!-- Nii -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Ruby I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Mini I18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- R18n -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Ruby gettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- FastGettext -->
        <td class="no">
          <i class="fas fa-times-circle"></i>
          <span>not supported</span>
        </td>
        <!-- Twitter CLDR -->
        <td class="yes">
          <i class="fas fa-check"></i>
          <span>supported</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
