<nav>
  <% link_to '/' do %>
    <b>Nii</b>
  <% end %>

  <div>
    <i class="fas fa-book-reader"></i>
    <span class="label">Documentation</span>
    <div class="submenu">
      <%= link_to 'Setup API', '/setup' %>
    </div>
  </div>

  <div>
    <i class="fas fa-database"></i>
    <span class="label"><span class='unimportant'>Explore the</span> Data</span>
    <div class="submenu">
      <%= link_to 'Languages',         '/data/languages' %>
      <%= link_to 'Regions',           '/data/regions'   %>
      <%= link_to 'Scripts',           '/data/scripts'   %>
      <%= link_to 'Numbering Systems', '/data/numbers'   %>
      <%= link_to 'Calendars',         '/data/calendars' %>
      <%= link_to 'Units',             '/data/units'     %>
    </div>
  </div>

  <div>
    <i class="fas fa-tasks"></i>
    <span class="label"><span class='unimportant'>Feature</span> Comparison</span>
    <div class="submenu">
      <%= link_to 'Overview',             '/compare'            %>
      <%= link_to 'Message Translation',  '/compare/messages'   %>
      <%= link_to 'Nii vs The Rails Way', '/compare/rails'      %>
    </div>
  </div>

  <% link_to 'https://github.com/rkh/nii' do %>
    <i class="fab fa-github"></i>
  <% end %>
</nav>
