---
title: Supported Formats
css_class: compare
---

<div class="table-wrapper">
  <table class="comparison">
    <thead>
      <tr>
        <th>Format</th>
        <th>Default Extension</th>
        <th>Read Support</th>
        <th>Write Support</th>
        <th>Additional Depenceny</th>
        <th>Supported Variants</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr class="in-table-headline">
        <th colspan="7"><span>nii-core</span></th>
      </tr>

      <tr>
        <td><span><%= link_to 'Application Resource Bundle', '/formats/arb' %></span></td>
        <td>.arb</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td></td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Comma/Tab Separated Values', '/formats/csv' %></span></td>
        <td>.csv/.tsv</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="partial"><i class="fas fa-slash"></i></td>
        <td></td>
        <td>Simple, ICU, Ruby Format</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Gettext', '/formats/gettext' %></span></td>
        <td>.po</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>Ruby gettext, GNU gettext</td>
        <td></td>
      </tr>

      <tr>
        <td><span><%= link_to 'Fluent', '/formats/fluent' %></span></td>
        <td>.ftl/.fluent</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td></td>
        <td>Fluent 1.0</td>
        <td>Recommended format.</td>
      </tr>

      <tr>
        <td><span><%= link_to 'JSON', '/formats/json' %></span></td>
        <td>.json</td>
        </td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="partial"><i class="fas fa-slash"></i></td>
        <td></td>
        <td>
          <span>
            AngularJS,
            Format.JS,
            go-i18n,
            i18next,
            ICU,
            Polyglot,
          </span>
          <span>
            React,
            Ruby I18n,
            Vue,
            WebExtension,
            Simple
          </span>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Markdown', '/formats/md' %></span></td>
        <td>.md/.markdown</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td>Markdown processor</td>
        <td>depends on Markdown processor</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Plain Text', '/formats/txt' %></span></td>
        <td>.txt</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>Simple, ICU, Ruby Format</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Properties', '/formats/properties' %></span></td>
        <td>.properties</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>Java, Mozilla</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Ruby', '/formats/ruby' %></span></td>
        <td></td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td><span>Ruby I18n</span></td>
        <td>Disabled by default.</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Unicode RBNF', '/formats/rbnf' %></span></td>
        <td>.rbnf</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>ICU / CLDR</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Windows JavaScript Resources File', '/formats/yaml' %></span></td>
        <td>.resjson</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>Java, Mozilla</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'YAML', '/formats/yaml' %></span></td>
        <td>.yml/.yaml</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="partial"><i class="fas fa-slash"></i></td>
        <td></td>
        <td>
          <span>
            go-i18n,
            R18n,
          </span>
          <span>
            Ruby I18n,
            Simple
          </span>
        </td>
        <td>under development</td>
      </tr>

      <tr class="in-table-headline">
        <th colspan="7"><span>nii-xml</span></th>
      </tr>

      <tr>
        <td><span><%= link_to 'Apple PLIST', '/formats/plist' %></span></td>
        <td>.plist</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>1.0</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Java XML Properties', '/formats/plist' %></span></td>
        <td></td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>2006</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Managed Resource File', '/formats/resx' %></span></td>
        <td>.resx/.resw</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>2.0</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Mozilla DTD', '/formats/dtd' %></span></td>
        <td>.dtd</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td></td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'TermBase eXchange', '/formats/tbx' %></span></td>
        <td>.tbx</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>ISO 30042</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'Translation Memory eXchange', '/formats/tmx' %></span></td>
        <td>.tmx</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="no"><i class="fas fa-times-circle"></i></td>
        <td></td>
        <td>1.4</td>
        <td>under development</td>
      </tr>

      <tr>
        <td><span><%= link_to 'XML Localisation Interchange File Format', '/formats/xliff' %></span></td>
        <td>.xliff</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td></td>
        <td>1.2, 2.0, 2.1</td>
        <td>
          <span>Recommended XML format.</span>
          <span>Under development.</span>
        </td>
      </tr>

      <tr>
        <td><span><%= link_to 'XML (Auto Detect)', '/formats/xml' %></span></td>
        <td>.xml</td>
        <td class="yes"><i class="fas fa-check"></i></td>
        <td class="partial"><i class="fas fa-slash"></i></td>
        <td></td>
        <td>all XML-based formats listed above</td>
        <td>Will detect actual format based on contents.</td>
      </tr>
    </tbody>
  </table>
</div>
