---
title: Languages
css_class: data
---

<div class="table-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th>Code</th>
        <th>English Name</th>
        <th>Local Name</th>
        <th>Gem</th>
        <th>Script</th>
      </tr>
    </thead>
    <tbody>
      <% data.languages.each do |language| %>
        <tr class="<%= language.locales.include?('nii-core') ? 'core' : 'extra' %>">
          <td><%= link_to language.code, "languages/#{language.code}" %></td>
          <td><%= language.names&.en&.join(' / ') %></td>
          <td><bdi dir="auto" lang="<%= language.code %>"><%= language.names[language.code]&.join(' / ') %></bdi></td>
          <td>
            <% language.locales.each_with_index do |(gem, list), index| %>
              <%= ' / ' if index > 0 %>
              <%= gem %>
              <% if list.size > 3 or (list.size > 1 and language.locales.size == 1) %>
                (<%= list.size %> locales)
              <% elsif list != [language.code] %>
                (<%= list.join(', ') %>)
              <% end %>
            <% end %>
          </td>
          <td><%= Array(language.scripts).map { |s| link_to(s, "/scripts/#{s.downcase}") }.join(' / ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
